<div class="container-fluid margin-b">
	<video id="background-video" autoplay loop muted>
		<source src="https://res.cloudinary.com/dfefpyzcm/video/upload/v1644251106/pexels-cottonbro-5912047_zqil9g.mp4">
	</video>

	<div class="content">
		<a href="https://www.coinbase.com/signin?return_to=%2Fdashboard"><img alt="Search" border="0" 
		src="https://res.cloudinary.com/dfefpyzcm/image/upload/v1644255953/bit_httom3.png" class="coinbase"></a> 
		<div style="height:20px;"></div>
	  	<p><span style="font-weight: 700">Adresse : </span><span id="tocopy">3PboAB9kY944w55omL6Joo5NK9giGeUSBr/</span></p>
	   	<p><input type="button" value="Copier" class="js-copy btn-custom" 	data-target="#tocopy">
		</p>
	</div>
</div>

<script>
	var btncopy = document.querySelector('.js-copy');
if(btncopy) {
    btncopy.addEventListener('click', docopy);
}

function docopy() {

    // Cible de l'élément qui doit être copié
    var target = this.dataset.target;
    var fromElement = document.querySelector(target);
    if(!fromElement) return;

    // Sélection des caractères concernés
    var range = document.createRange();
    var selection = window.getSelection();
    range.selectNode(fromElement);
    selection.removeAllRanges();
    selection.addRange(range);

    try {
        // Exécution de la commande de copie
        var result = document.execCommand('copy');
        if (result) {
            // La copie a réussi
            alert('Copié !');
        }
    }
    catch(err) {
        // Une erreur est surevnue lors de la tentative de copie
        alert(err);
    }

    // Fin de l'opération
    selection = window.getSelection();
    if (typeof selection.removeRange === 'function') {
        selection.removeRange(range);
    } else if (typeof selection.removeAllRanges === 'function') {
        selection.removeAllRanges();
    }
}
</script>