<div class="container home-title">
	<div class='row'>
		<div class="col-12">
			<h1 class="home-title-text">Avec Cora, pour Epitech.</h1>
		</div>
	</div>
</div>

<div class="container">	
	<div class="row slider_home">
		<div class="col-12">
			<%= image_tag "https://res.cloudinary.com/dfefpyzcm/image/upload/v1643818118/kq7n2sj19mzqtgy58bpe.jpg", alt:"intro", class:"img-fluid"%>	
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-12 banner2">
				<p><span class="bold">Soutenez la candidature de Cora :</span> Nous avons besoin de vous ! PS : Tout don est bienvenue (chèque, espèces, virement et cryptomonnaies)</p>
		</div>
	</div>
</div>