<h1><span class='home-title'>Avec Cora, pour Epitech.</span></h1>

<%= image_tag "https://res.cloudinary.com/dfefpyzcm/image/upload/v1643818118/kq7n2sj19mzqtgy58bpe.jpg", alt:"intro", width:1100, crop: :fill %>
