<div class='home-title'>
	<h1 class='home-title-text'>Avec Cora, pour Epitech.</h1>
</div>
<div>
	<div class="slider_home d-flex">
		<%= image_tag "https://res.cloudinary.com/dfefpyzcm/image/upload/v1643818118/kq7n2sj19mzqtgy58bpe.jpg", alt:"intro", width:1100, crop: :fill %>
			
	</div>
	<div class="banner">
		<p><span class="bold">Soutenez la candidature de Cora :</span> Nous avons besoin de vous ! PS : Tout don est bienvenue (chèque, espèces, virement et cryptomonnaies)</p>
	</div>
</div>
</div>