<div id="<%= dom_id post %>">
  <div class="container">
    
    <div class="row row-title">
      <div class="col">
        <p>
          <strong>Sujet :</strong>
          <%= post.title %>
        </p>
      </div>
    </div>

    <div class="row row-content">
      <div class="col">
        <p>
          <%= post.content %>
        </p>
      </div>
    </div>
  </div>
</div>
