.home-title {
	margin-top:30px;
}

.home-title-text {
	font-family:'arial black';
	font-size: 80px;
	color:#0072bc;
}


.banner2 {
	color:white;
	background-color:#0072bc;
	padding-top:24px;
	padding-bottom:10px;
	line-height:10px;
	margin-top:-20px;
	margin-bottom:50px;
	text-align:center;
	margin-top:-20px;
}

.slider_home_img {
	width:100%;
	padding-left:0px !important;
	padding-right:0px !important;
}

.bold {
	font-weight:700;
}

.slider_home {
	margin-top:30px;
}

body {
    font-family: 'Roboto', sans-serif !important;
    color:#6c757d!important;
}
