.home-title {
	margin-top:30px;
}

.home-title-text {
	font-family:'arial black';
	font-size: 80px;
	color:#0072bc;
}


.banner2 {
	color:white;
	background-color:#0072bc;
	padding-top:24px;
	padding-bottom:10px;
	line-height:10px;
	margin-top:-20px;
	margin-bottom:50px;
	text-align:center;
	margin-top:-20px;
}

.slider_home_img {
	width:100%;
	padding-left:0px !important;
	padding-right:0px !important;
}

.bold {
	font-weight:700;
}

.slider_home {
	margin-top:30px;
}

body {
    font-family: 'Roboto', sans-serif !important;
    color:#6c757d!important;
}

.col-paral {
	padding-left:40px !important;
	padding-right:40px !important;
}

 .paral-index {
  background-image: url("https://res.cloudinary.com/dfefpyzcm/image/upload/v1643992629/pexels-diva-plavalaguna-6150584_i3ls2a.jpg");
  min-height: 300px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:130px !important;
  margin-bottom:70px !important;

 }

.img-index-bloc {
	opacity:0.5;}


.bloc-bleu-text {
	font-family:'arial black';
	font-size: 48px;
	color:white !important;
	text-decoration:none !important;
}

a {
    color: #0d6efd;
    text-decoration: none !important;
}

.bloc-bleu {
	padding-top:48px;
	background-color:#0072bc;
	height:200px;
	text-align:center;
}

.bloc-bleu:hover {
	background-color:#f26522;
}


