.welcome {
	font-family:'arial black';
	font-size: 90px;
	color:#0072bc;
}

.welcome2 {
	font-family:'arial black';
	font-size: 28px;
	color:#0072bc;
	line-height:18px;
}

.border-left-title {
	border-left:solid 3px #0072bc;
	margin-bottom:20px;
	margin-left:-10px;
}

.border-slider {
	background-color:#0072bc;
	text-align:center;
	padding-top:15px;
	padding-bottom:10px !important;
}

.font-border-slider {
	color:white;
	font-size:18px !important;
}

.title-bottom-user {
	font-family:'arial black';
	font-size: 24px;
	color:#0072bc;
}

#user_remember_me {
	width:18px;
}