.row-title {
	background-color:white;
	color:#6c757d;
	border-bottom:solid 1px #d2d2d2;
	padding-top:20px;
}

.container-title {
	padding-left:0px !important;
	padding-right:Opx !important;
}

.row-content {
	padding-top:20px;
	color:#6c757d;
}