
.banner-top-posts {
	background-color:#f2f2f2;
	padding-top:70px;
	padding-bottom:70px;
	padding-left:105px !important;
	padding-right:120px !important;
}

.title-banner-top-posts {
	font-size:72px;
	font-family:'arial black'!important;
	color:#0072bc;	
}

.title-banner-top-posts2 {
	font-size:32px;
	font-family:'arial black'!important;
	color:#0072bc;	
	padding-right:40px !important;
	border-right: solid 1px #d2d2d2;
	text-align:right;
	height:300px;
	padding-top:50px;
	padding-bottom:50px;
}

.banner-top-posts3 {
	margin-left:30px;
	padding-top:60px;
}

.btn-custom {
	background-color:#0072bc !important;
	border-radius:50px !important;
	border-color: #0072bc !important;
	padding-left:25px !important;
	padding-right:25px !important;
}


.btn-custom:hover {
	background-color:#0069d9!important;
}


 .bloc-posts {
 	text-align:center;
 	font-size:24px;
 }


.post-col {
	border:solid 1px #d2d2d2;
	background-color:white;
	margin-top:50px;
	box-shadow: 0 2px 15px #d2d2d2;
}

.bottom-post {
	background-color:#d2d2d2;
	padding-left:20px;
	padding-right:20px;
	padding-top:18px;
	padding-bottom:1px;
	margin-bottom:0px;
	text-align:right;
	text-decoration:none;
	color:black;
}


 .bloc-posts {
 	text-align:center;
 	font-size:24px;
 }

