 .paral {
  background-image: url("https://res.cloudinary.com/dfefpyzcm/image/upload/v1643986701/jason-goodman-6awfTPLGaCE-unsplash_ogapah.jpg");
  min-height: 300px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 }

 .border-show-post {
 	border-top:solid 1px #d2d2d2;
 	padding-top:20px;
 }

 .left-show-post {
 	margin-right:25px;
 	color:white !important;
 }

  .right-show-post {
 	color:white !important;
 }

 .col-align-right {
 	text-align:right !important;
 }