<div class="footer-all">
    <div class="container footer-text-color">
       <div class="row justify-content-md-center">
        <div class="col-3 sm-12">
           <p style="footer_title">test 2</p>
        </div>
      <div class="col-3 sm-12">
        <p style="footer_title">test 2</p>
      </div>
      <div class="col-6 sm-12">
        <h3>Vous souhaitez soutenir Cora ?</h3>   
        <p>Vous voulez recommander Cora ? Laisser un témoignage  ? Ou bien simplement l'encourager ?</p>
        <p>Contactez-nous : contact@coraaepitech.com </p>
      </div>  
    <div class="row">
  </div>
</div>
